.glitch {
  position: relative;
  display: inline-block;
  animation: glitch-skew 1s infinite linear alternate-reverse;
  letter-spacing: 4px;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  left: -2px;
  text-shadow: 2px 0 #00d8ff;
  animation: glitch-anim 3s infinite linear alternate-reverse;
}

.glitch::after {
  left: 2px;
  text-shadow: -2px 0 #f6ad55;
  animation: glitch-anim2 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(42px, 9999px, 44px, 0);
    transform: skew(0.5deg);
  }
  10% {
    clip: rect(12px, 9999px, 50px, 0);
    transform: skew(1deg);
  }
  20% {
    clip: rect(60px, 9999px, 80px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(25px, 9999px, 45px, 0);
    transform: skew(1deg);
  }
  40% {
    clip: rect(5px, 9999px, 30px, 0);
    transform: skew(0.4deg);
  }
  50% {
    clip: rect(50px, 9999px, 70px, 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(15px, 9999px, 25px, 0);
    transform: skew(0.6deg);
  }
  70% {
    clip: rect(45px, 9999px, 80px, 0);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(10px, 9999px, 30px, 0);
    transform: skew(0.5deg);
  }
  90% {
    clip: rect(25px, 9999px, 40px, 0);
    transform: skew(1deg);
  }
  100% {
    clip: rect(60px, 9999px, 80px, 0);
    transform: skew(0.7deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(12px, 9999px, 40px, 0);
    transform: skew(0.4deg);
  }
  10% {
    clip: rect(52px, 9999px, 90px, 0);
    transform: skew(1deg);
  }
  20% {
    clip: rect(32px, 9999px, 60px, 0);
    transform: skew(0.5deg);
  }
  30% {
    clip: rect(62px, 9999px, 80px, 0);
    transform: skew(0.9deg);
  }
  40% {
    clip: rect(22px, 9999px, 40px, 0);
    transform: skew(1deg);
  }
  50% {
    clip: rect(52px, 9999px, 70px, 0);
    transform: skew(0.3deg);
  }
  60% {
    clip: rect(25px, 9999px, 50px, 0);
    transform: skew(1deg);
  }
  70% {
    clip: rect(15px, 9999px, 40px, 0);
    transform: skew(0.2deg);
  }
  80% {
    clip: rect(45px, 9999px, 90px, 0);
    transform: skew(0.8deg);
  }
  90% {
    clip: rect(10px, 9999px, 30px, 0);
    transform: skew(0.5deg);
  }
  100% {
    clip: rect(35px, 9999px, 70px, 0);
    transform: skew(0.7deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(1deg);
  }
}
